@use '../custom' as *;

.intros{
    img{
        height: auto;
        max-inline-size: 100%;
        border-radius: 25px;
        border: 0px solid $primary;
        box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
    }
}